<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyLike</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/font/css/all.min.css">
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" id="style" href="../assets/css/style.css">
</head>

<body>
    <header id="header"></header>
    <div class="container">
        <section class="menu">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-fb dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-facebook-square"></i>
                            facebook
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-thumbs-up"></i> Facebook Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-file-alt"></i> Facebook Page Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-share-square"></i> Facebook Share
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="fas fa-user-check"></i> Facebook Follower
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-comment-dots"></i> Facebook comment
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-ig dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-instagram"></i>
                            instagram
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-thumbs-up"></i> Instagram Likes
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="fas fa-user-check"></i> Instagram Follower
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-comment-dots"></i> Instagram comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-youtube dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-youtube"></i>
                        Youtube
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-thumbs-up"></i> Youtube Likes
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="fas fa-user-check"></i> Youtube Follower
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-comment-dots"></i> Youtube comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-other dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-atom"></i>
                        other
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-thumbs-up"></i> Other Likes
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="fas fa-user-check"></i> Other Follower
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-comment-dots"></i> Other comment
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <div class="card card-services">
            <div class="card-body ">
                <h3 class="card-title font-montserrat arrow ">Card</h3>
            </div>
        </div>
        <section class="cart-detail ">
            <div class="card ">
                <div class="card-body ">
                    <span>Oders</span>
                    <span>BL123</span>
                    <span>Paid</span>
                    <span>Statucs</span>
                    <hr>
                    <div class="row ">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <h5 class="cart-detail-title ">Service</h5>
                            <span class="font-weight-bold ">Facebook likes</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <h5 class="cart-detail-title ">ID post</h5>
                            <span>135428190133014</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <h5 class="cart-detail-title ">Quantity</h5>
                            <span>100</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <h5 class="cart-detail-title ">Times</h5>
                            <span>1-2 days</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12 px-sm-0">
                            <h5 class="cart-detail-title ">Price</h5>
                            <span>$50</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <footer id="footer" class="footer"></footer>


    <script src="../assets/cdn/jquery-3.3.1.slim.min.js " defer></script>
    <script type="text/javascript " src="../assets/cdn/jquery.lazy.min.js " defer></script>
    <script src="../assets/cdn/popper.min.js " defer></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js " defer></script>
    <script src="../assets/js/main.js " async></script>
    <script src="../assets/js/load-pages.js " async></script>
</body>

</html>