<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyLike</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/font/css/all.min.css">
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" id="style" href="../assets/css/style.css">
</head>

<body>
    <header id="header"></header>
    <div class="container">
        <section class="menu">
            <div class="row">
                <div class="col-md-3 col-sm-12 fba">
                    <div class="dropdown ">
                        <button class="font-montserrat menu-fb dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-facebook-square"></i>
                            facebook
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class=" dropdown-item submenu-fb" href="#">
                                <i class="far fa-thumbs-up"></i> Facebook Likes
                            </a>
                            <a class=" dropdown-item submenu-fb" href="#">
                                <i class="far fa-file-alt"></i> Facebook Page Likes
                            </a>
                            <a class=" dropdown-item submenu-fb" href="#">
                                <i class="far fa-share-square"></i> Facebook Share
                            </a>
                            <a class=" dropdown-item submenu-fb" href="#">
                                <i class="fas fa-user-check"></i> Facebook Follower
                            </a>
                            <a class=" dropdown-item submenu-fb" href="#">
                                <i class="far fa-comment-dots"></i> Facebook comment
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-ig dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-instagram"></i>
                            instagram
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-thumbs-up"></i> Instagram Likes
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="fas fa-user-check"></i> Instagram Follower
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-comment-dots"></i> Instagram comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-youtube dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-youtube"></i>
                        Youtube
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-thumbs-up"></i> Youtube Likes
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="fas fa-user-check"></i> Youtube Follower
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-comment-dots"></i> Youtube comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-other dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-atom"></i>
                        other
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-thumbs-up"></i> Other Likes
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="fas fa-user-check"></i> Other Follower
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-comment-dots"></i> Other comment
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <section class="buy-like">
            <h3 class="font-montserrat">Buy facebook likes</h3>
            <a href="" class="square">
                <i class="far fa-comment-alt float-right"></i>
            </a>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="card border-0 card-review text-center">
                        <img class="card-img-top w-100" src="../assets/images/Buylike/facebook-buy-likes.png" alt="Card image cap">
                        <div class="card-body">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span class="font-montserrat">5/5</span>
                            <p class="card-text buy-like-text font-montserrat">Total: 100 Rating</p>
                            <a href="#" class="buy-like-link font-montserrat">leave a comment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12">
                    <div class="card card-photo-link border-0">
                        <div class="card-body pt-0">
                            <h5 class="card-title buy-like-title font-montserrat">Photo Link</h5>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Photo Link">
                                </div>
                                <div class="correct">
                                    <i class="far fa-check-circle"></i>
                                    <span>Valid link</span>
                                </div>
                                <div class="error">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <span>The link structure is incorrect.</span>
                                </div>
                                <div class="time">
                                    <ul>
                                        <li>
                                            <i class="far fa-clock"></i>
                                            <span>Times: 0 day</span>
                                        </li>
                                        <li>
                                            <i class="fas fa-dollar-sign"></i>
                                            <span>Price: $0.00</span>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" class="btn-buy-like font-montserrat">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-shopping-bag"></i> 
                                    <span>Add to cart</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card card-like border-0">
                        <div class="card-body pt-0">
                            <h5 class="card-title buy-like-title font-montserrat">Likes Quantity <span>(Min. 100, max. 10000)</span></h5>
                            <form>
                                <div class="form-group">
                                    <select class="custom-select">
                                        <option selected>100</option>
                                        <option value="1">200</option>
                                        <option value="2">300</option>
                                        <option value="3">400</option>
                                    </select>
                                </div>
                                <div class="correct">
                                    <i class="far fa-check-circle"></i>
                                    <span>Oder quantity</span>
                                </div>
                                <div class="error">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <span>Order quantity cannot be less than 100.</span>
                                </div>
                                <div class="discount">
                                    <i class="fas fa-funnel-dollar"></i>
                                    <span>250 amount / $ 4.50</span>
                                    <div class="discount-select">
                                        <span>5% cheaper</span>
                                        <span>Select discount</span>
                                    </div>
                                </div>
                                <button type="button" class="btn-buy-like font-montserrat">
                                    Buy Now
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="support">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card support-card">
                        <img class="card-img-top images" data-src="../assets/images/instant-delivery.png" alt="Instant Delivery Guaranteed">
                        <div class="card-body">
                            <h5 class="card-title support-title font-montserrat">Instant Delivery Guaranteed </h5>
                            <p class="card-text support-text">Likes will start rolling in right away as long as your payment was approved. We have instant delivery on all our service which means almost no delays for you</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card support-card">
                        <img class="card-img-top images" data-src="../assets/images/hight-quality.png" alt="Instant, High-Quality, and Authentic Followers">
                        <div class="card-body px-0">
                            <h5 class="card-title support-title font-montserrat">Instant, High-Quality, and Authentic Followers</h5>
                            <p class="card-text support-text">We offer the highest user quality on the market with 100% guaranteed. We deliver only High Quality services, therefore any order with us will not cause any negative impact to your Social Accounts. You heard it right, our likes
                                are 100% real human likes, meaning no bots, no high-quality accounts. Real users are what you get. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card support-card">
                        <img class="card-img-top images" data-src="../assets/images/customer-support.png" alt="24/7 Customer Support">
                        <div class="card-body">
                            <h5 class="card-title support-title font-montserrat">24/7 Customer Support</h5>
                            <p class="card-text support-text">You can contact us 24 hours a day, seven days a week on Live Chat Support.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card support-card">
                        <img class="card-img-top images" data-src="../assets/images/customer-satisfaction.png" alt="100% Customer Satisfaction">
                        <div class="card-body">
                            <h5 class="card-title support-title font-montserrat">100% Customer Satisfaction</h5>
                            <p class="card-text support-text">We have a huge roster of satisfied customers which continues to grow because of the quality of our services. Our customers’ satisfaction is always our top priority and we make sure that they are happy with our services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mx-auto col-lg-3">
                    <div class="card support-card">
                        <img class="card-img-top images" data-src="../assets/images/secure-payment-methods.png" alt="Secure Payment Methods">
                        <div class="card-body">
                            <h5 class="card-title support-title font-montserrat">Secure Payment Methods</h5>
                            <p class="card-text support-text">We take your privacy seriously. That’s why no other platform offers high-level payment security like BUYLIKES. All credit/debit card payment transactions processed are entirely secure with no access to the third-parties or
                                us ourselves.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mx-auto col-lg-3">
                    <div class="card support-card">
                        <img class="card-img-top images" data-src="../assets/images/no-password-is-required.png" alt="NO PASSWORD IS REQUIRED">
                        <div class="card-body">
                            <h5 class="card-title support-title font-montserrat">NO PASSWORD IS REQUIRED</h5>
                            <p class="card-text support-text">We never ask your password or any private information. We recommend you to protect your account through never sharing your password with anyone.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mx-auto col-lg-3">
                    <div class="card support-card">
                        <img class="card-img-top images" data-src="../assets/images/unbelievable-prices.png" alt="UNBELIEVABLE PRICES">
                        <div class="card-body">
                            <h5 class="card-title support-title font-montserrat">UNBELIEVABLE PRICES</h5>
                            <p class="card-text support-text">We provide high quality services with the best prices, starting at 0.03$.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="facebook-content text-center">
            <h3 class="marketing-title font-montserrat">What are facebook Likes? </h3>
            <p class="marketing-text">Grow your Facebook profile's or page's presence and boost your ranking! Safe and secure likes, comments, followers, and more with no password required. Instant delivery on most orders! + 24/7 customer support.
            </p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 img-center d-block d-sm-none">
                    <img src="../assets/images/Buylike/facebook-like.png" class="w-75" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>When you post something on Facebook, everyone can leave a like. Having your posts booming with likes is crucial because that's how you get the attention of the algorithm and the people. </p>
                    <p>The quickest easiest way to show appreciation for a facebook post is to hit the like button. Facebook engagement revolves around this feature. And this is the most used feature on Facebook. Apart from engaging and exciting catchy post
                        another way to get facebook likes on your post is you buy the likes rather than spending a fortune on your social media campaigns. It does wonders when it comes to activity and engagement.</p>
                    <p> We at BUYLIKES can help you earn more Facebook likes – all genuine and 100% legal and authentic because we understand what those thumbs up mean to you and your business.</p>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 img-center d-none d-sm-flex">
                    <img src="../assets/images/Buylike/facebook-like.png" class="w-75" alt="">
                </div>
            </div>
        </section>
        <section class="buying-facebook text-center">
            <h3 class="marketing-title font-montserrat">The Advantages of Buying Facebook Likes</h3>
            <p class="marketing-text">Buying Facebook likes helps save you a lot of time since you do not need to take care of anything other than improving your content and developing new ideas. Of course, this is not the only advantage because there are a number of others:</p>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card card-buy-like">
                        <img class="card-img-top images mx-auto w-75" src="../assets/images/Buylike/user-engagement.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">High level of user engagement. A large number of likes is of great interest, as people tend to give preference to what is already in demand.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card card-buy-like">
                        <img class="card-img-top w-75 images mx-auto" src="../assets/images/Buylike/wide-audience-reach.png " alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Wide audience reach. With proper management of your page, buying Facebook likes can greatly increase your influence and help you get even more user incentives.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card card-buy-like">
                        <img class="card-img-top w-75 images mx-auto" src="../assets/images/Buylike/improvement-of-all-important-indicators.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Improvement of all-important indicators. A large number of Facebook likes demonstrates the relevance and usefulness of your content and reflects your involvement in the processes of running your business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card card-buy-like">
                        <img class="card-img-top w-75 images mx-auto" src="../assets/images/Buylike/buy-like-for-facebook.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">When you buy likes for Facebook, it is easier to show that your content, your idea or concept deserves users’ attention.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text">
            <h3 class="marketing-title font-montserrat">Why Should You Buy Likes for Facebook?</h3>
            <p class="marketing-text">It is never going to be easy to obtain the outcome you expect, and all you need to do is to take your time and see what you can do in the regard. If you buy Facebook likes, you really have the unique opportunity to achieve all your goals naturally
                and fast because you can get a bulk amount of likes on any image or post, and it will motivate users to overview your brand as something trustworthy and safe.
            </p>
        </section>
    </div>
    <section class="why">
        <div class="container">
            <div class="why-img d-none d-sm-none d-md-block ">
                <div class="row">
                    <div class="col-2 col-sm-2 p-0">
                        <img class="last-img w-75" src="../assets/images/Buylike/bookmark.png" alt="">
                    </div>
                    <div class="col-2 col-sm-2 p-0">
                        <img class="first-img w-75" src="../assets/images/Buylike/pen.png" alt="">

                    </div>
                    <div class="col-2 col-sm-2 p-0">
                        <img class="w-75 pt-md-4" src="../assets/images/Buylike/ball.png" alt="">
                    </div>
                    <div class="col-2 col-sm-2 p-0">
                        <img class="w-75" src="../assets/images/Buylike/key.png" alt="">
                    </div>
                    <div class="col-2 col-sm-2 p-0">
                        <img class="w-75" src="../assets/images/Buylike/circle.png" alt="">
                    </div>
                    <div class="col-2 col-sm-2 p-0">
                        <img class="w-75" src="../assets/images/Buylike/electric.png" alt="">
                    </div>

                </div>
            </div>
            <div class="why-text">
                <p>Moreover, likes show that your content is actually engaging people and they react to what you post. Likes also help to widen target audience, increase the number of shares, strength your company’s status and redirect part of traffic to
                    your supporting sites. Therefore, the result you can get in this regard is truly the one you expect.</p>
                <p>It all comes down to making the right choice, adapting everything to suit your needs in a meaningful way. Thus, buying likes makes a lot of sense and the results are the best in such a perspective. In the end, you will not have to worry
                    about anything because such purchase will push your brand experience to new heights, as well as offer you some very distinct effects, and it will definitely be a nice long-run opportunity.s</p>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="facebook-prices">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title font-montserrat">100</h3>
                            <p class="card-text font-montserrat">Facebook Post Likes</p>
                            <hr>
                            <p class="facebook-prices-text font-montserrat"><span>$</span>5</p>
                            <ul>
                                <li>High Quality <span>Post Likes</span> </li>
                                <li>100% Safe</li>
                                <li>No Password <span>Required</span></li>
                                <li>For Posts <span>Only</span></li>
                                <li>1-5 Days <span>Delivery</span></li>
                                <li>24/7 <span>Support</span></li>
                            </ul>
                            <a href="#" class="btn">ODER NOW!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title font-montserrat">100</h3>
                            <p class="card-text font-montserrat">Facebook Post Likes</p>
                            <hr>
                            <p class="facebook-prices-text font-montserrat"><span>$</span>5</p>
                            <ul>
                                <li>High Quality <span>Post Likes</span> </li>
                                <li>100% Safe</li>
                                <li>No Password <span>Required</span></li>
                                <li>For Posts <span>Only</span></li>
                                <li>1-5 Days <span>Delivery</span></li>
                                <li>24/7 <span>Support</span></li>
                            </ul>
                            <a href="#" class="btn">ODER NOW!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title font-montserrat">100</h3>
                            <p class="card-text font-montserrat">Facebook Post Likes</p>
                            <hr>
                            <p class="facebook-prices-text font-montserrat"><span>$</span>5</p>
                            <ul>
                                <li>High Quality <span>Post Likes</span> </li>
                                <li>100% Safe</li>
                                <li>No Password <span>Required</span></li>
                                <li>For Posts <span>Only</span></li>
                                <li>1-5 Days <span>Delivery</span></li>
                                <li>24/7 <span>Support</span></li>
                            </ul>
                            <a href="#" class="btn">ODER NOW!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="buy-fb-service">
            <h3 class="buy-fb-service-title font-montserrat">How to Buy Facebook Services?</h3>
            <p class="buy-fb-service-text">Buy Facebook post likes: Facebook post likes are useable for any Facebook post. If you would like to have more Facebook likes you can buy Facebook likes for your posts. For buying Facebook post likes you can also use our customer support.
                Customer care will help you with your buying process and you can be sure about bot likes never decreasing from your Facebook post.</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 text-center img-center">
                    <img class="w-75 images " src="../assets/images/Buylike/how-to-buy-facebook-service.png" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="buy-fb-services-description"><span>Buy Facebook Fan Page Likes:</span> If you have a fan page like and this page is your brand's page you should buy Facebook fan page likes for improving your social media value and reaching more potential customers.</p>
                    <p class="buy-fb-services-description"><span> Buy Facebook Followers:</span> Facebook follower service only works for Facebook profiles. We cannot deliver followers to any fan page. But if you want to show yourselves like a popular character of Facebook you can buy Facebook
                        followers for your profile.</p>
                    <p class="buy-fb-services-description"><span> Buy Facebook share:</span> When you have a good deal of viewership on your business page, it leads those interested in your products and services to like your page and thus you can get well-targeted contacts for your business.</p>
                    <p class="buy-fb-services-description"><span> Buy Facebook comments:</span> Many leading and internationally popular companies generally buy and use real as well as active FB comments that grow their businesses faster than their expectations.</p>
                    <p class="buy-fb-services-description">The quickest easiest way to show appreciation for a facebook post is to hit the like button. Facebook engagement revolves around this feature. And this is the most used feature on Facebook.</p>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card card-content-left">
                        <img class="card-img-top w-75 p-5 mx-auto images" data-src="../assets/images/content.png" alt="Are there any risks to buy social media service?">
                        <div class="card-body p-5">
                            <h5 class="card-title content-title font-montserrat">Are there any risks to buy social media service?</h5>
                            <p class="card-text content-text">If you have bought obvious spam or bot followers for your account in the past, they may simply vanish due to social network's harsh regulations. If you are willing to buy fake followers for your account, you should know that
                                they will drop your engagement rates for a while. That may not last forever, but it will definitely set you back. Therefore, buying real followers from BUYLIKES might be the best choice! These problems are all real, and
                                you might have experienced them, too, if you previously worked with low-quality services. All is well, though. You can make up those past mistakes by trying our services for your brand or business campaigns and start rising
                                again! Do not forget that if you experience any issues, you can always get in touch with our customer service to get quick fixes and solutions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 pl-md-0">
                    <div class="card card-content-right">
                        <img class="card-img-top w-75 p-5 mx-auto images" data-src="../assets/images/content-one.png" alt="Which social media platforms should my brand be present on?">
                        <div class="card-body p-5">
                            <h5 class="card-title content-title font-montserrat">Which social media platforms should my brand be present on?</h5>
                            <p class="card-text content-text padding-content">First things first, there’s no doubt that your business should be on social media, regardless of the industry. The purpose behind having a social media presence, however, may differ from one company to another. As a brand,
                                you need to know where your audience is and start from there. Conveying messages to the wrong crowd will end up in a lot of dissatisfaction for all involved parties. With that out of the way, the bare minimum includes an
                                account on Facebook, Instagram. Then, you can expand to Youtube, Google+, or others, depending on who you want to approach and with what purpose.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="question">
            <h3 class="marketing-title">Frequently Asked Questions</h3>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card card-question">
                        <div class="card-body">
                            <p class="card-text question-line">Is it safe to buy services from Buy Social Media Marketing?</p>
                            <p class="card-text question-line">How can I contact you?</p>
                            <p class="card-text">Can I get a refund?</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card card-question">
                        <div class="card-body">
                            <p class="card-text question-line"> How long will it take to start receiving my purchase?</p>
                            <p class="card-text question-line">What information do you require?</p>
                            <p class="card-text">Will you replace social network service if they disappear?</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card card-question">
                        <div class="card-body">
                            <p class="card-text question-line">From which country do the likes come from?</p>
                            <p class="card-text question-line">How long does it take to get my likes?</p>
                            <p class="card-text">Do you need my Facebook password?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-link">
                <a href="" class="font-montserrat">Full QAQ</a>
            </div>
        </section>
        <section class="evaluation">
            <h3 class="evaluation-title font-montserrat">Evaluation</h3>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card evaluation-card-left text-center">
                        <img class="card-img-top w-75 mx-auto" src="../assets/images/Buylike/evaluation.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </h5>
                            <p class="card-text font-montserrat">5/5</p>
                            <p class="card-text font-montserrat">Total: 100 Rating</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 pl-md-0">
                    <div class="evaluation-right-top">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 ">
                                <div class="card ">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <span>Mark</span>
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </h5>
                                        <p class="card-text">Let's gooo!!! Received 2k likes for my picture and it didn't even take a whole five minutes to get them. Just wow.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 pl-md-0">
                                <div class="card ">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <span>Mark</span>
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </h5>
                                        <p class="card-text">Let's gooo!!! Received 2k likes for my picture and it didn't even take a whole five minutes to get them. Just wow.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ">
                                <div class="card ">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <span>Mark</span>
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </h5>
                                        <p class="card-text">Let's gooo!!! Received 2k likes for my picture and it didn't even take a whole five minutes to get them. Just wow.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 pl-md-0">
                                <div class="card ">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <span>Mark</span>
                                            <span>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </h5>
                                        <p class="card-text">Let's gooo!!! Received 2k likes for my picture and it didn't even take a whole five minutes to get them. Just wow.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="evaluation-right-bottom">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title font-montserrat">Comment on your experience.</h5>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="fullname" class="font-montserrat">Full names</label>
                                                <input type="text" class="form-control" id="fullname">
                                            </div>
                                            <div class="rating">
                                                <h3 class="font-montserrat">Rating</h3>
                                                <p class="rating rating2">
                                                    <a href="#5" title="Give 5 stars"><i class="fas fa-star"></i></a>

                                                    <a href="#4" title="Give 4 stars"><i class="fas fa-star"></i></a>

                                                    <a href="#3" title="Give 3 stars"><i class="fas fa-star"></i></a>

                                                    <a href="#2" title="Give 2 stars"><i class="fas fa-star"></i></a>

                                                    <a href="#1" title="Give 1 star"><i class="fas fa-star"></i></a>
                                                    <!-- <span>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i> -->
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="email" class="font-montserrat">Email</label>
                                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group">
                                                <label for="comment" class="font-montserrat">Comment</label>
                                                <textarea type="text" class="form-control comment" id="comment"></textarea>
                                            </div>
                                            <button type="submit" class="btn ">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer id="footer" class="footer"></footer>



    <script src="../assets/cdn/jquery-3.3.1.slim.min.js" defer></script>
    <script type="text/javascript" src="../assets/cdn/jquery.lazy.min.js" defer></script>
    <script src="../assets/cdn/popper.min.js" defer></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js" defer></script>
    <script src="../assets/js/main.js" async></script>
    <script src="../assets/js/load-pages.js" async></script>
</body>

</html>