<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="../assets/images/logo-white.png" class="w-50 images" alt="Buy like logo">
            <p class="footer-text">Buylike is a corporate and trusted website that provides services to improve your account on Social Media platforms like Facebook, Twitter, Instagram Support, and YouTube.</p>
            <img src="../assets/images/paypal.png" class="w-75 images" alt="paypal">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pl-md-5">
            <h3 class="footer-title font-montserrat">Services</h3>
            <ul class="footer-list">
                <li>
                    <a href="">Facebook</a>
                </li>
                <li>
                    <a href="">Instagram</a>
                </li>
                <li>
                    <a href="">Youtube</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 offset-md-6 col-lg-4 offset-lg-0 pl-md-5">
            <h3 class="footer-title font-montserrat">Pages</h3>
            <ul class="footer-list">
                <li>
                    <a href="">Terms of Service</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
                <li>
                    <a href="">Refund Policy</a>
                </li>
                <li>
                    <a href="">Privacy and Security Policy</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</div>