<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuyLike</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600,900;1,400;1,600,900&family=Raleway:ital,wght@0,400;0,600,900;1,400;1,600,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../assets/font/css/all.min.css" />
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" id="style" href="../assets/css/style.css" />
    <link rel="stylesheet" id="style" href="../assets/css/contact.css" />
</head>

<body>
    <header id="header"></header>
    <!-- <section id="header-menu"></section> -->
    <div class="container">
        <section class="menu">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-fb dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-facebook-square"></i>
                            facebook
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-thumbs-up"></i> Facebook Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-file-alt"></i> Facebook Page Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-share-square"></i> Facebook Share
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="fas fa-user-check"></i> Facebook Follower
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-comment-dots"></i> Facebook comment
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-ig dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-instagram"></i>
                            instagram
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-thumbs-up"></i> Instagram Likes
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="fas fa-user-check"></i> Instagram Follower
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-comment-dots"></i> Instagram comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-youtube dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-youtube"></i>
                            Youtube
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-thumbs-up"></i> Youtube Likes
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="fas fa-user-check"></i> Youtube Follower
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-comment-dots"></i> Youtube comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-other dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-atom"></i>
                            other
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-thumbs-up"></i> Other Likes
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="fas fa-user-check"></i> Other Follower
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-comment-dots"></i> Other comment
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>

    <section class="contact-main">
        <div class="container">
            <div class="card contact-title d-md-block d-none">
                <div class="card-body">
                    <h4 class="card-title ">CONTACT</h4>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-md-block d-none">
                        <div class="register-content ">
                            <h4>
                                Have a Question? Get in touch with us.
                            </h4>
                            <p>
                                You can contact us 7 days/24 hours if you have any questions, requests or suggestions.
                                Our Live Support Service will reply to you almost immediately.
                            </p>
                            <div class="contact-info">
                                <h5>BuyLikes</h5>
                                <div class="contact-info-list">
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+1 607 225 0799</span>
                                </div>
                                <div class="contact-info-list">
                                    <i class="fab fa-facebook-messenger"></i>
                                    <span>BuyLikes - Buy social services</span>
                                </div>
                                <div class="contact-info-list">
                                    <i class="far fa-envelope"></i>
                                    <span>info@buylikes.co</span>
                                </div>
                                <div class="contact-info-list">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>New York, NY 10019, United States</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="register-form">
                            <div class="card border-0 bg-transparent ">
                                <div class="card-body">
                                    <h4 class="register-text text-center text-md-left ">
                                        Support/complaint
                                    </h4>
                                    <form>
                                        <label for="email">Name</label>
                                        <input class="form-control" type="email" id="email" required />

                                        <label for="passworld">Email</label>
                                        <input class="form-control" type="text" id="passworld" required />

                                        <label for="confirm-pass">Messager </label>
                                        <input class="form-control" type="text" id="confirm-pass" required />

                                        <button type="submit" class="btn-register">SEND</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>

    <footer id="footer" class="footer"></footer>

    <script src="../assets/cdn/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../assets/cdn/jquery.lazy.min.js"></script>
    <script src="../assets/cdn/popper.min.js"></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/load-pages.js"></script>
</body>

</html>