<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyLike</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/font/css/all.min.css">
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" id="style" href="../assets/css/style.css">

    <style>
        #login-contents__main {
            width: 100%;
            height: auto;
            background-image: linear-gradient(90deg, #E5E5E5 50%, #BDC3D8 50%);
        }
    </style>
</head>

<body>
    <header id="header"></header>

    <!-- <section id="header-menu"></section> -->
    <div class="container">
        <section class="menu">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-fb dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-facebook-square"></i>
                            facebook
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-thumbs-up"></i> Facebook Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-file-alt"></i> Facebook Page Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-share-square"></i> Facebook Share
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="fas fa-user-check"></i> Facebook Follower
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-comment-dots"></i> Facebook comment
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-ig dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-instagram"></i>
                            instagram
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-thumbs-up"></i> Instagram Likes
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="fas fa-user-check"></i> Instagram Follower
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-comment-dots"></i> Instagram comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-youtube dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-youtube"></i>
                        Youtube
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-thumbs-up"></i> Youtube Likes
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="fas fa-user-check"></i> Youtube Follower
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-comment-dots"></i> Youtube comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-other dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-atom"></i>
                        other
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton" data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-thumbs-up"></i> Other Likes
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="fas fa-user-check"></i> Other Follower
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-comment-dots"></i> Other comment
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
    <section id="login-contents" class="mb-5 login">
        <div class="container d-md-block d-none">
            <div class="card bg-white mb-5">
                <div class="card-body">
                    <h1 class="font-weight-bold font-montserrat">LOGIN </h1>
                </div>
            </div>
        </div>

        <div id="login-contents__main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto d-md-block d-none login-contents__form">
                        <h3 class="font-weight-bold font-montserrat mb-5">Welcome to comback BuyLikes</h3>
                        <h4 class="font-montserrat my-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, nisi consequat vulputate nisl lacus, sit fames velit. Vitae quam venenatis urna, in ultricies a dui cras.</h4>
                        <div>
                            <img src="/assets/images/Login/login-img.png" alt="" width="100%">
                        </div>
                    </div>
                    <div class="col-md-6 col-12 m-md-auto pl-md-5 my-4">
                        <form id="login-form">
                            <h1 class="font-weight-bold font-montserrat text-md-left text-center mb-md-5 mb-2">LOGIN </h1>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input required type="email" class="form-control form-control-lg" id="email">
                                <!-- <label id="login-email-error" class="text-danger d-none" for="email">Please enter email</label> -->
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input required type="password" class="form-control form-control-lg" id="password">
                                <!-- <label id="login_password-error" class="text-danger d-none" for="password">Please enter password</label> -->
                            </div>
                            <div class="form-check my-5">
                                <span class="checkbox">
                                    <input type="checkbox" class="form-check-input" id="login_rememberme">
                                    <label class="form-check-label ml-3" for="login_rememberme">Check me out</label>
                                </span>
                                <span class="float-right">
                                    <a href="#">Forgot Password?</a>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg font-montserrat font-weight-bold">LOGIN</button>
                            <div class="text-center mt-4"><a href="#">Don't have an account yet? Create an
                                    account</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="footer"></footer>



    <script src="../assets/cdn/jquery-3.3.1.slim.min.js" defer></script>
    <script src="../assets/cdn/popper.min.js" defer></script>
    <script src="../assets/js/load-pages.js" defer></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js" defer></script>
    <script src="../assets/js/login.js" async></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>