<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuyLike</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600,900;1,400;1,600,900&family=Raleway:ital,wght@0,400;0,600,900;1,400;1,600,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../assets/font/css/all.min.css" />
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" id="style" href="../assets/css/style.css" />
    <link rel="stylesheet" id="style" href="../assets/css/prices.css" />
</head>

<body>
    <header id="header"></header>
    <!-- <section id="header-menu"></section> -->
    <div class="container">
        <section class="menu">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-fb dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-facebook-square"></i>
                            facebook
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-thumbs-up"></i> Facebook Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-file-alt"></i> Facebook Page Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-share-square"></i> Facebook Share
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="fas fa-user-check"></i> Facebook Follower
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-comment-dots"></i> Facebook comment
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-ig dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-instagram"></i>
                            instagram
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-thumbs-up"></i> Instagram Likes
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="fas fa-user-check"></i> Instagram Follower
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-comment-dots"></i> Instagram comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-youtube dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-youtube"></i>
                            Youtube
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-thumbs-up"></i> Youtube Likes
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="fas fa-user-check"></i> Youtube Follower
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-comment-dots"></i> Youtube comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-other dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-atom"></i>
                            other
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-thumbs-up"></i> Other Likes
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="fas fa-user-check"></i> Other Follower
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-comment-dots"></i> Other comment
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section class="prices-main">
            <div class="card prices-title d-md-block d-none">
                <div class="card-body">
                    <h4 class="card-title ">PRICES</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-prices">
                        <div class="card-header fb">
                            <i class="fab fa-facebook-square"></i>
                            <h3 class="prices-card-title">
                                FACEBOOK SERVICES
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="fb-content">
                                <span>Facebook Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Facebook Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Facebook Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Facebook Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Facebook Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Facebook Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-prices">
                        <div class="card-header instagram">
                            <i class="fab fa-instagram"></i>
                            <h3 class="prices-card-title">
                                INSTAGRAM SERVICES
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="fb-content">
                                <span>Instagram Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Instagram Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Instagram Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Instagram Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Instagram Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Instagram Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-prices">
                        <div class="card-header youtube">
                            <i class="fab fa-youtube"></i>
                            <h3 class="prices-card-title">
                                YOUTUBE SERVICES
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="fb-content">
                                <span>Youtube Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Youtube Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Youtube Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Youtube Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Youtube Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                            <div class="fb-content">
                                <span>Youtube Likes</span>
                                <span class="float-right">$0.01/1like</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="prices-content text-md-center text-justify">
                <p>
                    You can buy Instagram followers, Facebook followers, Instagram or Facebook likes, shares, comments
                    and other social media marketing easily, there are planty of cheap services to provide this. So, why
                    people buy service from BUYLIKES? It is basically because you are thinking about buying social media
                    marketing, it might be because you are looking for a quick thousand followers to get the ball
                    rolling, hoping that will encourage real people to check out your brand. Quality over quantity is a
                    nice sentiment, but the reality is, many people judge an social media account by it’s numbers.
                </p>
            </div>
        </section>
    </div>



    <footer id="footer" class="footer"></footer>

    <script src="../assets/cdn/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../assets/cdn/jquery.lazy.min.js"></script>
    <script src="../assets/cdn/popper.min.js"></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/load-pages.js"></script>
</body>

</html>