<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuyLike</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../assets/font/css/all.min.css" />
    <link rel="stylesheet" href="../assets/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" id="style" href="../assets/css/style.css" />
    <link rel="stylesheet" id="style" href="../assets/css/profile.css" />
</head>

<body>
    <header id="header"></header>
    <!-- <section id="header-menu"></section> -->
    <div class="container">
        <section class="menu">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-fb dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-facebook-square"></i>
                            facebook
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-thumbs-up"></i> Facebook Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-file-alt"></i> Facebook Page Likes
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-share-square"></i> Facebook Share
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="fas fa-user-check"></i> Facebook Follower
                            </a>
                            <a class="dropdown-item submenu-fb" href="#">
                                <i class="far fa-comment-dots"></i> Facebook comment
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-ig dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-instagram"></i>
                            instagram
                        </button>
                        <div class="dropdown-menu dropdown-mobile" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-thumbs-up"></i> Instagram Likes
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="fas fa-user-check"></i> Instagram Follower
                            </a>
                            <a class="dropdown-item submenu-ig" href="#">
                                <i class="far fa-comment-dots"></i> Instagram comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-youtube dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-youtube"></i>
                            Youtube
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-thumbs-up"></i> Youtube Likes
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="fas fa-user-check"></i> Youtube Follower
                            </a>
                            <a class="dropdown-item submenu-youtube" href="#">
                                <i class="far fa-comment-dots"></i> Youtube comment
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="font-montserrat menu-other dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-atom"></i>
                            other
                        </button>
                        <div class="dropdown-custom dropdown-mobile dropdown-menu" aria-labelledby="dropdownMenuButton"
                            data-role="collapse" data-toggle-element="#dropdownMenuButton" data-collapsed="true">
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-thumbs-up"></i> Other Likes
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="fas fa-user-check"></i> Other Follower
                            </a>
                            <a class="dropdown-item submenu-other" href="#">
                                <i class="far fa-comment-dots"></i> Other comment
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>

    <section class="profile-main">
        <div class="container">
            <div class="card profile-title d-md-block d-none">
                <div class="card-body">
                    <h4 class="card-title ">PROFILE</h4>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-md-block d-none">
                        <div class="register-content ">
                            <h4>
                                BuyLikes
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, nisi consequat
                                vulputate nisl lacus, sit fames velit. Vitae quam venenatis urna, in ultricies a dui
                                cras.
                            </p>
                            <div class="register-img text-center">
                                <img src="../assets/images/register/register-img.png" width="80%" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0 form-user">
                        <div class=" card profile-card front">
                            <div class="card-header">
                                <img src="../assets/images/profile/user.jpg" alt="">
                                <h4 class="profile-username">
                                    Toms Candy
                                </h4>
                            </div>

                            <div class="card-body p-0">
                                <div class="profile-info">
                                    <h5>Name</h5>
                                    <p>Toms Candy</p>
                                </div>

                                <div class="profile-info">
                                    <h5>Birth day</h5>
                                    <p>January 1, 1991</p>
                                </div>

                                <div class="profile-info">
                                    <h5>Gender</h5>
                                    <p>Female</p>
                                </div>

                                <div class="profile-info">
                                    <h5>Email</h5>
                                    <p>TomsCandy@gmail.com</p>
                                </div>

                                <div class="profile-info">
                                    <h5>Phone</h5>
                                    <p>+01 23156489</p>
                                </div>
                            </div>

                            <button id="btn-edit" class="profile-btn"><i class="fas fa-pen"></i> EDIT
                                INFORMATION</button>

                        </div>

                        <div class="card profile-card back">
                            <div class="card-header">
                                <div class="profile-img">
                                    <img src="../assets/images/profile/user.jpg" alt="">
                                    <input type="file" id="file">
                                    <label for="file"><i class="fas fa-camera "></i></label>
                                </div>

                                <h4 class="profile-username">
                                    Toms Candy
                                </h4>
                            </div>

                            <div class="card-body p-0">
                                <div class="profile-form">
                                    <label for="name">Name</label>
                                    <input type="text" id="name">
                                </div>

                                <div class="profile-form">
                                    <label for="date">Birth day</label>
                                    <input type="text" id="date">
                                </div>

                                <div class="profile-form">
                                    <label for="gender">Gender</label>
                                    <input type="text" id="gender">
                                </div>

                                <div class="profile-form">
                                    <label for="email">Email</label>
                                    <input type="email" id="email">
                                </div>

                                <div class="profile-form">
                                    <label for="number">Phone</label>
                                    <input type="text" id="number">
                                </div>
                            </div>

                            <button id="btn-edit" class="profile-btn"> SAVE</button>

                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>




    <footer id="footer" class="footer"></footer>

    <script src="../assets/cdn/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../assets/cdn/jquery.lazy.min.js"></script>
    <script src="../assets/cdn/popper.min.js"></script>
    <script src="../assets/cdn/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/load-pages.js"></script>
</body>

</html>